<div  class="row animated fadeIn">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>
<tr></tr>

<app-loading *ngIf="loading" ></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error!</h3>
    <p>Esto es una Alerta de error porque algo malio sal</p>
    <p>Mensaje de error: {{mensajeError}}</p>
</div>

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>

